// пример миксина под резиновый текст:
@mixin fluid-text {
   font-size: clamp( 1rem, 0.83vw, 1.2rem);
}
// миксин резинового блока: 
@mixin responsive-block {
width: 100%;
max-width: 1920px;
@include laptop {
   max-width: $laptop;
}
@include tablet {
   max-width:$tablet;
}
@include mobile {
   max-width: $mobile;
}
@include mobile-s {
   max-width: $mobile-s;
}
}
@mixin content-container {
   width: 100%;
   max-width: calc(1920px - 1.5rem * 2);
   padding: 1.5rem;
   @include laptop {
      max-width: calc($laptop - 1.2rem * 2);
      padding: 1.2rem;
   }
   @include tablet {
      max-width: calc($tablet - 1rem * 2);
      padding: 1rem;
   }
   @include mobile {
      max-width: calc($mobile - 0.5rem * 2);
      padding: 0.5rem;
   }
   @include mobile-s {
      max-width: calc($mobile-s - 0.3rem * 2);
      padding: 0.3rem;
   }
}