// пример миксина под резиновый текст:
@mixin fluid-text {
   font-size: clamp()
}
// миксин резинового блока: 
@mixin responsive-block {
width: 100%;
max-width: 1920px;
@include laptop {
   max-width: $laptop;
}
@include tablet {
   max-width:$tablet;
}
@include mobile {
   max-width: $mobile;
}
@include mobile-s {
   max-width: $mobile-s;
}
}