body, html {
 scroll-behavior: smooth;
width: 100%;
height: auto;
min-height: 100%;

}
// параграфы и ссылки с резиновым текстом
a, p {
    @include fluid-text;
}
h1 {
    @include fluid-h1;
}
h2, h3 {
    @include fluid-title;
}
// скрываем тескт-подсказку для кнопок

.visually-hidden {
 @include visually-hidden; 
  }
// ограничивающий контейнер: 
.container {
    max-width: 1240px;
    margin: 0 auto;
    box-sizing: content-box;
}